

.footer {
  background-color: hwb(0 17% 82%);
  color: #fff;
  padding: 20px;
  margin-bottom: 0px !important;
}
.pred {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.social-media a {
  font-size: 44px;
 
  text-decoration: none;
  color: inherit;
}
.contact-link {
  text-decoration: none;
}

.contact-text {
  color: white;
}

.footer-contacts {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.map {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border: 2px solid rgb(14, 12, 12);
  border-radius: 5px;
}
.q-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-top: 10px;
}

.links a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.links a:hover {
  opacity: 0.5;
  color: crimson;
  border-bottom: 1px solid white;
}

.end-content {
  font-family: Georgia, serif;
}
@media screen and (max-width: 450px) {
  .map {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    height: 200px;
  }
}
